* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    --dark-green: #008f69;
    --pink: #ff7096;
    --gray: #303841;
    --weaker-white: #f0f0f0;
    --aqua: #7FDBFF;
    --bg-black: #111;
    --teal: #05e6fa;
    --brown: #14130c;
    --green: #0a6b5c;
    --yellow: #b4e01c;
    --turqoise: #04c4ac;
}

html {
    scroll-behavior: smooth;
}
  
h1 { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; } 
h3 { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700 } 
p, a { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

h1 {
    font-size: 1.9rem;
}

section#welcome {
    height: 65vh;
    height: calc(var(--vh, 1vh) * 65);
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome h3 {
    margin-top: 10px;
    font-size: 1.1rem;
}

body {
    background: linear-gradient(
        90deg,
        var(--turqoise), 
        var(--yellow));
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

nav {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--bg-black);
    z-index: 2;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-list a {
    padding: 20px 10px;  /*20px 15px*/
    display: block;
    font-size: 1rem;  /*1rem*/
    color: white;
}

.nav-list li:last-of-type {
    margin-right: min(2vw, 25px);
}
  
.nav-list a:hover {
    background-color: var(--dark-green);
}

#welcome-text {
    text-align: center;
}

.contact-links {
    width: 100%;
    /* max-width: 600px; */
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: var(--gray); */
    gap: max(1.5rem, 10vw);
    margin-bottom: 10px;
}

.contact-links a {
    padding: 20px 0;
    /* margin: 0 auto; */
    max-width: 100px;
    transition: 0.3s;
    color: var(--bg-black);
    font-size: 1.1rem;

}

.contact-links a:hover {
    padding-top: 15px;
}

@media only screen and (min-width: 720px) {
    /* font-size: 20px on html element is not working :/ */
    .nav-list a {
        padding: 20px 15px;  /*20px 15px*/
        font-size: 1.2rem;  /*1rem*/
    }

    h1 {
        font-size: 2.6rem;
    }

    #welcome h3 {
        font-size: 1.3rem;
    }

    .contact-links a {
        max-width: 200px;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
    section#welcome {
        height: 77vh;
    }
}